@media screen and (max-width: 480px){

}

@media screen and (max-width: 576px){
 .navbar-001-hide {
        display: none;
    }
    .new-menu-hide {
        display: block;
        margin-right: 0 !important;
    }
    .contact-button {
        display: none;
    }
    .slider-head h1 {
        font-size: 28px; 
    }
    .slider-head {
        padding: 40px 80px 40px 0px;
    }
    .how-we-work-inner h1 { 
        padding: 20px 32px;
    }
    .how-we-work-main {
        padding: 50px 15px;
    }
    
    .caraousel::after{
        display: none;
    }
    .caraousel::before{
        display: none;
    }
    .caraousel2::before{
        display: none;
    }
    .caraousel3::after{
        display: none;
    }
    .how-we-work h1 { 
        font-size: 26px; 
    }
    .how-we-work p {
        width: 100%; 
    }
    .industries h1 { 
        font-size: 26px; 
    }
    .home-services h1 {
        font-size: 26px; 
    }
    .call-action-content h1 {
        font-size: 26px; 
    }
    .call-action-bg { 
        padding: 30px 0px;
    }
    .border-right-footer { 
        border: none;
    }

}

@media screen and (min-width: 577px) and (max-width: 767px){
    .navbar-001-hide {
        display: none;
    }
    .new-menu-hide {
        display: block;
        margin-right: 0 !important;
    }
    .contact-button {
        display: none;
    }
    .slider-head h1 {
        font-size: 36px; 
    }
    .slider-head {
        padding: 60px 124px 60px 0px;
    }
    .how-we-work-inner h1 { 
        padding: 20px 24px;
    }
    .caraousel::after{
        display: none;
    }
    .caraousel::before{
        display: none;
    }
    .caraousel2::before{
        display: none;
    }
    .caraousel3::after{
        display: none;
    }
    .how-we-work-main {
        padding: 50px 30px 25px 30px;
    }
    .industries-main {
        padding: 25px 30px 25px 30px;
    }
    .how-we-work p {
        width: 100%; 
    }
    .home-services-main {
        padding: 8px 20px 0; 
    }
    .border-right-footer { 
        border: none;
    }
    .footer-list p {
        font-size: 14px; 
    }

     
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .navbar-001-hide {
        display: none;
    }
    .new-menu-hide {
        display: block;
        margin-right: 0 !important;
    }
    .contact-button {
        display: none;
    }
    .slider-head h1 {
        font-size: 40px; 
    }
    .slider-head {
        padding: 80px 260px 80px 0px;
    }
    .caraousel::after{
        display: none;
    }
    .caraousel::before{
        display: none;
    }
    .caraousel2::before{
        display: none;
    }
    .caraousel3::after{
        display: none;
    }
    .how-we-work p {
        width: 70%; 
    }
    .home-services-main {
        padding: 8px 20px 0; 
    }
    .border-right-footer { 
        border: none;
    }

}
@media screen and (min-width: 993px) and (max-width: 1024px){
    .how-we-work p {
        width: 60%; 
    } 
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .slider-head {
        padding: 70px 30px 70px 0px;
    }
    .how-we-work p {
        width: 70%; 
    }
}