@media screen and (max-width: 480px){

}

@media screen and (max-width: 576px){
 .navbar-001-hide {
        display: none;
    }
    .new-menu-hide {
        display: block;
        margin-right: 0 !important;
    }
    .contact-button {
        display: none;
    }
    .slider-head h1 {
        font-size: 28px; 
    }
    .slider-head {
        padding: 40px 80px 40px 0px;
    }
    .how-we-work-inner h1 { 
        padding: 20px 32px;
    }
    .how-we-work-main {
        padding: 50px 15px;
    }
    
    .caraousel::after{
        display: none;
    }
    .caraousel::before{
        display: none;
    }
    .caraousel2::before{
        display: none;
    }
    .caraousel3::after{
        display: none;
    }
    .how-we-work h1 { 
        font-size: 26px; 
    }
    .how-we-work p {
        width: 100%; 
    }
    .industries h1 { 
        font-size: 26px; 
    }
    .home-services h1 {
        font-size: 26px; 
    }
    .call-action-content h1 {
        font-size: 22px; 
    }
    .call-action-bg { 
        padding: 30px 0px;
    }
    .border-right-footer { 
        border: none;
    }
    .aboutus-main {
        padding: 20px 0px;
    }
    .aboutus-content p { 
        padding-right: 0px;
    }
    .aboutus-content h1 {
        font-size: 26px; 
    }
    .why-choose h1 {
        font-size: 26px; 
    }
    .why-choose-checkbox p { 
        line-height: 25px;
    }
    .counter-box { 
        padding: 10px 40px; 
    }
    .Counter-1 h1 {
        font-size: 32px; 
    }
    .client-img { 
        width: 50%; 
    }
    .counter-box-margin-top {
        margin-top: 0px;
    }
    .counter-box-inner { 
        padding: 70px 16px; 
    }
    .web-development-main {
        padding: 30px 0;
    }
    .web-development-inner h1 {
        font-size: 22px; 
    }
    .webserviceOffer h1 {
        font-size: 22px; 
    }
    .webserviceOffer-box { 
        margin-bottom: 10px;
    }
    .serviceOffer h1 {
        font-size: 22px; 
    }
    .technologies h1 {
        font-size: 22px; 
    }
    .technologies-main {
        padding: 30px 0px;
    }
    .faq-main h1 {
        font-size: 22px; 
    }
    .accordion-button { 
        font-size: 15px; 
    }
    .faq-main-top{
        padding: 30px 0px;
    }

    .counter-box-inner { 
        margin: 0 42px;
    }
    .ready-to-grow-content h1 { 
        font-size: 22px; 
    }
    .ready-to-grow-content h2 { 
        font-size: 20px; 
    }
    .blogs a {
        font-size: 14px;
    }

    .blog-detail h1 {
        font-size: 22px;
        line-height: 28px;
    }

    .blog-detail-002 h1 {
        font-size: 24px;
        line-height: 28px;
    }

    .blog-detail-001 h1 {
        font-size: 22px;
        line-height: 28px;
    }
    .contact-us a {
        font-size: 15px;
    }

    .contact-us h1 {
        font-size: 24px;
    }

    .contact-us p {
        font-size: 17px;
    }
    .caraousel2 h1 { 
        font-size: 17px; 
    }
    .home-blog-content h5 { 
        min-height: 52px; 
    }
    .corevalue-border-bottom{
        border: none;  
    }
    .border-left-dotted{
        border: none;  
    }
    .core-values-bg { 
        padding: 35px 0px;
    }
    .core-values-text { 
        min-height: 210px;
    }
    .portfolio-nu h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .serviceOffer-box {
        margin-top: 25px;
    }
    .graphicserviceOffer {
        padding: 0px 0px 20px 0px; 
    }
    .graphicserviceOffer h1 {
        font-size: 22px; 
    }
    .growbusiness-text h1 {
        font-size: 20px; 
    }
    .DMserviceOffer {
        padding: 0 0 25px; 
    }
    .DMserviceOffer h1 {
        font-size: 22px; 
    }
    .seo-work h1 {
        font-size: 22px; 
    }
    .smoimg-left{
        width: 100%;
    }
    .smotext-right{
        padding:20px; 
        width: 100%;  
    }
    .smo-main{
        display: inline; 
    }
    .certified h1 { 
        font-size: 26px; 
    }
    .dropdown-menu { 
        min-width: 21rem !important; 
    }
    .amazonserviceOffer {
        padding: 0 0 15px; 
    }
    .amazonserviceOffer h1 {
        font-size: 26px; 
    }
    .dropdown-item { 
        padding: 4px 10px; 
    }
}

@media screen and (min-width: 577px) and (max-width: 767px){
    .navbar-001-hide {
        display: none;
    }
    .new-menu-hide {
        display: block;
        margin-right: 0 !important;
    }
    .contact-button {
        display: none;
    }
    .slider-head h1 {
        font-size: 36px; 
    }
    .slider-head {
        padding: 60px 124px 60px 0px;
    }
    .how-we-work-inner h1 { 
        padding: 20px 24px;
    }
    .caraousel::after{
        display: none;
    }
    .caraousel::before{
        display: none;
    }
    .caraousel2::before{
        display: none;
    }
    .caraousel3::after{
        display: none;
    }
    .how-we-work-main {
        padding: 50px 30px 25px 30px;
    }
    .industries-main {
        padding: 25px 30px 25px 30px;
    }
    .how-we-work p {
        width: 100%; 
    }
    .home-services-main {
        padding: 8px 20px 0; 
    }
    .border-right-footer { 
        border: none;
    }
    .footer-list p {
        font-size: 14px; 
    }
    .counter-box-margin-top {
        margin-top: 0px;
    }
    .client-img { 
        width: 30%; 
    }
    .web-development-inner h1 {
        font-size: 26px; 
    }
    .web-development-main {
        padding: 40px 0;
    }
    .webserviceOffer h1 {
        font-size: 26px; 
    }
    .webserviceOffer-box { 
        margin-bottom: 10px;
    }
    .technologies h1 {
        font-size: 26px; 
    }
    .faq-main h1 {
        font-size: 26px; 
    }
    .technologies-main {
        padding: 40px 0px;
    }
    .faq-main-top{
        padding: 30px 0px;
    }
    .ready-to-grow-content h1 { 
        font-size: 26px; 
    }
    .ready-to-grow-content h2 { 
        font-size: 22px; 
    }
    .industries h1 { 
        font-size: 30px; 
    }
    .blogs h5 {
        min-height: 35px;
    }

    .blogs {
        min-height: 145px;
    }   
    .home-blog-content h5 { 
        min-height: 78px; 
    }
    .corevalue-border-bottom{
        border: none;  
    }
    .border-left-dotted{
        border: none;  
    }
    .blog-content p { 
        font-size: 13px;
        line-height: 18px; 
    }
    .blog-content h5 { 
        font-size: 18px; 
    }
    .serviceOffer-box {
        margin-top: 25px;
    }
    .DMserviceOffer {
        padding: 0 0 12px; 
    }
    .growbusiness-text h1 {
        font-size: 22px; 
    }
    .DMserviceOffer h1 {
        font-size: 26px; 
    }
    .graphicserviceOffer {
        padding: 0 0 20px; 
    }
    .graphicserviceOffer h1 {
        font-size: 26px; 
    }
    .serviceOffer h1 {
        font-size: 26px; 
    }
    .smoimg-left{
        width: 60%;
    }
    .smotext-right{
        padding:20px; 
        width: 100%;  
    }
    .smo-main{
        display: inline; 
    }
    .amazonserviceOffer h1 {
        font-size: 26px; 
    }
    .amazonserviceOffer-box p { 
        font-size: 14px; 
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .navbar-001-hide {
        display: none;
    }
    .new-menu-hide {
        display: block;
        margin-right: 0 !important;
    }
    .contact-button {
        display: none;
    }
    .slider-head h1 {
        font-size: 40px; 
    }
    .slider-head {
        padding: 80px 260px 80px 0px;
    }
    .caraousel::after{
        display: none;
    }
    .caraousel::before{
        display: none;
    }
    .caraousel2::before{
        display: none;
    }
    .caraousel3::after{
        display: none;
    }
    .how-we-work p {
        width: 70%; 
    }
    .home-services-main {
        padding: 8px 20px 0; 
    }
    .border-right-footer { 
        border: none;
    }
    .counter-box {
       margin-bottom: 10px;
    }
    .counter-box-inner { 
        padding: 42px 20px; 
    }
    .counter-box-margin-top {
        margin-top: 0px;
    }
    .technologies-main {
        padding: 50px 0px;
    }
    .faq-main-top {
        padding: 50px 0px;
    }
    .blogs {
        min-height: 195px;
    }

    .blogs h5 {
        min-height: 80px;
    }

    .blogs a {
        font-size: 13px;
    }

    .blog-detail-001 h1 {
        font-size: 20px;
        line-height: 26px;
    }

    .blog-detail-001 h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .corevalue-border-bottom{
        border: none;  
    }
    .border-left-dotted{
        border: none;  
    }
    .growbusiness-text h1 {
        font-size: 22px; 
    }
    .DMserviceOffer h1 {
        font-size: 24px; 
    }
    .DMserviceOffer p {
        font-size: 15px; 
    }
    .webserviceOffer-box {
       margin-bottom: 10px;
    }
    .web-development-inner h1 {
        font-size: 28px; 
    }
    .webserviceOffer h1 {
        font-size: 28px; 
    }
    .technologies h1 {
        font-size: 28px; 
    }
    .serviceOffer-box {
        margin-top: 25px;
    }
    .smoimg-left{
        width: 50%;
    }
    .smotext-right{
        padding:20px; 
        width: 100%;  
    }
    .smo-main{
        display: inline; 
    }
    .web-development-main {
        padding: 20px 0;
    }
    .amazonserviceOffer-box { 
        min-height: 316px;
    }
    .amazonserviceOffer h1 {
        font-size: 26px; 
    }
    .faq-main h1 {
        font-size: 26px; 
    }
}
@media screen and (min-width: 993px) and (max-width: 1024px){
    .how-we-work p {
        width: 60%; 
    } 
}
@media screen and (min-width: 1025px) and (max-width: 1199px){
    .slider-head {
        padding: 70px 30px 70px 0px;
    }
    .how-we-work p {
        width: 70%; 
    }
     
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    .home-service-box { 
        min-height: 260px !important;
    }
}


@media screen and (min-width: 1401px){
    .home-service-box { 
        min-height: 278px !important;
    }
    .PPCserviceOffer-box {
        min-height: 220px !important;
    }
    .contserviceOffer-box {
        min-height: 244px !important;
    }
    .ormserviceOffer-box {
        min-height: 270px !important;
    }
}


 

 
