body {
    margin: 0 auto;
}

/* top nav bar  */
.top-head-bg {
    background-color: #263045;
}

.top-Nav-contact a {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}

.social-icon-nav {
    font-size: 18px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}
.social-icon-nav i:hover {
    color: #43ade6;
}
/* Navbar  */
.navbar-001 {
    display: flex;
    justify-content: flex-end;
}

.navbar-001 a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #263045 !important;
    text-align: center;

}

.navbar-001 a:hover {
    color: #43ade6 !important;
}
.navbar-001 a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #43ade6;
    transition: width 0.3s;
}

.navbar-001 a:hover::after {
    width: 100%;
    color: #43ade6 !important;
}

.navbar-001 a:focus {
    color: #43ade6 !important;
}

.contact-button a {
    background-image: linear-gradient(to right, #018dd1, #43ade6);
    border-radius: 6px;
    color: #fff;
    padding: 7px 14px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.contact-button a:hover {
    background-color: #8fc442;
    color: #fff;
}

.new-menu-hide {
    display: none;
    left: 0;
}

.newMenuMain {
    position: absolute;
    cursor: pointer;
    padding: 0;
    width: 80%;
    height: 400px;
}

.newMenu {
    background: #fff;
    z-index: 20;
    width: 100%;
}
.nav-link {
    color: #263045 !important;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 10px 12px;
}
li.nav-item {
    padding: 6px;
}

.nav-link:hover {
    color: #43ade6 !important;
}

.dropdown-hover:hover > .dropdown-menu {
    display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    border: none;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-style: normal;
    text-align: left;
    list-style: none;
    line-height: 26px;
    color: #263045 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 4px;
    color: #212529 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

/* slider  */
.slider-bg {
    background-image: url('../Images/Banner-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-head {
    padding: 80px 80px 80px 12px;
}
.slider-head h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}
.slider-head h1 span {
    color: #43ade6;
    font-weight: 500;
}
.slider-list {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.slider-list h2 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-left: 5px;
}
.slider-button {
    margin: 15px 0;
}
.slider-button a {
    background-image: linear-gradient(to right, #018dd1, #43ade6);
    border-radius: 6px;
    color: #fff;
    padding: 10px 14px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.slider-button a:hover {
    background-image: none;
    border: 2px solid #43ade6;
    color: #43ade6;
    font-weight: 400;
}

/* how we work  */
.how-we-work-main {
    padding: 70px 0 35px;
}

.how-we-work h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}
.how-we-work h1 span {
    color: #43ade6;
}
.how-we-work p {
    width: 90%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-left: 5px;
    margin: 0 auto;
}
.how-we-work-inner {
    border-radius: 10px;
}
.how-we-work-inner h1 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding: 20px 60px;
}
.how-we-work-icon {
    background-color: #43ade6;
    border-radius: 10px;
}

.how-we-work-inner p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding: 20px 0 0;
    text-align: left;
}

/* industries  */
.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all 0.5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: #43ade6 !important;
    min-width: 30px !important;
    min-height: 30px !important;
    opacity: 1;
    color: #263045;
    cursor: pointer;
}

.caraousell h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.caraousell {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.caraousel h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}


.caraousel {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.caraousel:before {
    border-right: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 84%;
    top: 5%;
}
.caraousel:after {
    border-bottom: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
}
.caraousel2 h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.caraousel2 {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.caraousel2:before {
    border-right: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 84%;
    top: 5%;
}
.caraousel3 h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.caraousel3 {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.caraousel3:after {
    border-bottom: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
}


.industries-main {
    padding: 35px 0;
}
.industries h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}
.industries h1 span {
    color: #43ade6;
}
.industries p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-left: 5px;
}
.arrow1 {
    animation: slide1 2s ease-in-out infinite;
    margin-left: 5px;
}
@keyframes slide1 {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}


/* home services  */
.home-services-bg {
    background-color: #263045;
    padding: 50px 0;
}

.home-services-main {
    padding: 5px 5px 0;
    background-color: #fff;
    border-radius: 10px;
}
.home-services {
    padding-bottom: 18px;
}

.home-services h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}
.home-services h1 span {
    color: #43ade6;

}


.home-services p {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}

.home-services-button a {
    background-image: linear-gradient(to right, #018dd1, #43ade6);
    border-radius: 6px;
    color: #fff;
    padding: 7px 14px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}

.home-service-box {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.home-service-box:hover {
    background-color: #43ade6;
}


.home-service-box h1 {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 0;
}
.home-service-box p {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}
.home-service-box a {
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


/* call action  */


.call-action-bg {
    background-image: url('/src/Images/home-CTA\ Bg.webp');
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.call-action-content h1 {
    font-size: 32px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.call-action-content p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.call-action-button1 a {
    background: #fff;
    border-radius: 6px;
    color: #43ade6;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.call-action-button2 a {
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}


/* footer  */
.footer-bg {
    background-color: #263045;
    padding: 50px 0;
    /* background-image: url('../Images/earth\ \(1\).webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}
.footer-head h1 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-list p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    word-wrap: break-word;
    text-align: justify;
}
.footer-list a {
    text-decoration: none;
}
.footer-arrow {
    font-size: 12px;
    padding-right: 15px;
}
.footer-social-icon {
    font-size: 14px;
    padding-right: 5px;
}

.border-right-footer {
    border-right: 1px solid #ccc;
    min-height: 200px;
}

.domain-bar {
    margin-bottom: -40px;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    position: relative;
    box-shadow: 3px 3px 26px -5px rgba(0, 0, 0, 0.35)
}


/* clients */
.client-bg {
    margin: 35px 0;
    background-image: url('../Images/earth\ \(1\).webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-muted {
    color: #263045 !important;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    /* border-image: linear-gradient(to top, #43ade6, rgba(0, 0, 0, 0)) 1 100%; */
    border: 4px solid green;
    border-image-source: linear-gradient(white, #9cdafc, #43ade6);
    border-image-slice: 1;
}
.text-muted-inner {
    margin: 0 auto;
}

.text-muted-inner h5 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #263045;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.text-muted-inner h3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.client-img {
    background-image: url('http://localhost:3000/static/media/layer17.7b7dbc7e2fae0e12168e.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18%;
    padding: 24px 0;
    margin: 0 auto;
}
.client-img-section {
    border: 3px solid #6fc6f5;
    border-radius: 50%;
}


/* about us  */
.aboutus-main {
    padding: 50px 0;
}
.aboutus-content h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    letter-spacing: 1px;
}
.aboutus-content h1 span {
    color: #43ade6;
}
.aboutus-content p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-right: 30px;
}


/* counter  */

.client-logo-slider-bg {
    background-color: #ebebeb;
}

.Counter-content {
    padding: 20px 0;
}
.Counter-content h2 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #263045;
    min-height: 36px;
    font-family: 'Roboto', sans-serif;
}
.Counter-content p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}


.Counter-1 h1 {
    font-size: 34px;
    font-weight: 700;
    color: #42ADE4;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}


.counter-box {
    text-align: center;
}
.counter-box-inner {
    border: 3px solid #0890d3;
    text-align: center;
    padding: 60px 16px;
    background: #fff;
    border-radius: 50%;
    margin: 0 45px;
}


.counter-box-margin-top {
    margin-top: 110px;
}


.btnhover {
    border: none;
    color: white;
    opacity: 0.1;
    transition: 0.3s;
}
.btnhover:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3);
}


/* why choose us  */

.why-choose h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    letter-spacing: 2px;
}
.why-choose h1 span {
    color: #43ade6;
}
.why-choose p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}

.why-choose-checkbox p i {
    background-color: #42ADE4;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
}
.why-choose-checkbox {
    padding: 10px 0;
}
.why-choose-checkbox p {
    font-size: 16px;
    line-height: 35px;
}

.ready-to-grow {
    background-image: url('../Images/readytogrow.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    margin-top: 40px;
}

.ready-to-grow-content {
    text-align: center;
}
.ready-to-grow-content h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.ready-to-grow-content h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 36px;
}

.ready-to-grow-content a {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff24;
    padding: 10px 15px;
    border-radius: 15px;
}

/* web development  */

.web-development-main {
    padding: 70px 0;
}

.web-development-inner h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    letter-spacing: 1px;
}
.web-development-inner h1 span {
    color: #43ade6;
}

.web-development-inner p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding: 15px 0;
    text-align: justify;
}

.service-box-bg {
    background-color: #263045;
    padding: 40px 0;
}

.webserviceOffer {
    background-color: #fff;
    padding: 20px;
    min-height: 262px;
    border-radius: 8px;
    margin-bottom: 25px;
}
.webserviceOffer h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #42ADE4;
    text-decoration: none;
}
.serviceOffer span {
    color: #263045;
}

.serviceOffer p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: left;
}

.webserviceOffer-box {
    background-color: #fff;
    padding: 20px;
    min-height: 262px;
    border-radius: 8px;
    color: #000;
}

.webserviceOffer-box:hover {
    /* box-shadow: inset 600px 0 0 0 #43ade6; */
    filter: invert();
    background-color: rgb(235 108 0);
    /* transition: 1s; */
}


.webserviceOffer-box h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    /* color: #263045;  */
    letter-spacing: 1px;
    padding: 20px 0 0;
    min-height: 60px;
}
.webserviceOffer-box p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
    text-align: left;
}

/* appservice  */
.serviceOffer {
    background-color: #fff;
    padding: 20px;
    min-height: 384px;
    border-radius: 8px;
}
.serviceOffer h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #42ADE4;
    text-decoration: none;
}
.serviceOffer span {
    color: #263045;
}

.serviceOffer p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: left;
}

.serviceOffer-box {
    background-color: #fff;
    padding: 20px;
    min-height: 384px;
    border-radius: 8px;
    color: #000;
}

.serviceOffer-box:hover {
    /* box-shadow: inset 600px 0 0 0 #43ade6; */
    filter: invert();
    background-color: rgb(235 108 0);
    /* transition: 1s; */
}


.serviceOffer-box h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    /* color: #263045;  */
    letter-spacing: 1px;
    padding: 20px 0 0;
    min-height: 60px;
}
.serviceOffer-box p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
    text-align: left;
}
.serviceOffer ul li {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: left;
}
.serviceOffer-box ul {
    padding-left: 15px;
}
.serviceOffer-box ul li {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
    text-align: left;
}


/* graphic page  */
.graphic-box-bg {
    background-color: #263045;
    padding: 40px 0;
    margin-bottom: 30px;
}
.graphicserviceOffer {
    padding: 0 0 50px;
    border-radius: 8px;
}
.graphicserviceOffer h1 {
    font-size: 38px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}


.graphicserviceOffer p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: left;
}

.graphicserviceOffer-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color: #000;
    margin-bottom: 25px
}


.graphicserviceOffer-box h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    letter-spacing: 1px;
    padding: 20px 0 0;
}
.graphicserviceOffer-box p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: left;
}

/* digital marketing  */
.DM-box-bg {
    background-color: #263045;
    padding: 40px 0; 
}
.DMserviceOffer {
    padding: 0 0 50px;
    border-radius: 8px;
}
.DMserviceOffer h1 {
    font-size: 38px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}


.DMserviceOffer p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: left;
}

.DMserviceOffer-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color: #000;
    margin-bottom: 25px
}


.DMserviceOffer-box h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    letter-spacing: 1px;
    padding: 20px 0 0; 
    text-align: center;
}
.DMserviceOffer-box ul{
    padding-top: 20px; 
    padding-left: 0px;
}
.DMserviceOffer-box ul li {
    line-height: 30px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: left;
    list-style-type: none;
}
.DMserviceOffer-box a{
    text-decoration: none; 
    color: #43ade6;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}


/* seo page  */
.SEOserviceOffer-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color: #000;
    margin-bottom: 25px
}


.SEOserviceOffer-box h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    letter-spacing: 1px;
    padding: 20px 0 0; 
    text-align: center;
}
.SEOserviceOffer-box p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
}
.seo-growbusiness{
    padding: 70px 0px;
}

 
.circlee {
    background-image: url('../Images/cir.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 39px 1px;
    text-align: center;
}
.growbusiness-text h1{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

 
.growbusiness-box h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 5px 0px;
}
.seo-work{
    padding-bottom: 30px;
}
.seo-work h1{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center; 
}
.seo-work p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
}
.seo-work-text h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: left;
}
.seo-work-text p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: left;
}

/* technologies  */
.technologies-main {
    padding: 90px 0 45px;
}
.technologies h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
}
.technologies h1 span {
    color: #43ade6;
}


/* faq  */
.faq-main-top {
    padding: 45px 0;
}

.faq-main h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
.faq-main h1 span {
    color: #43ade6;
}
.accordion-button {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 17px;
    font-weight: 500;
    color: #43ade6 !important;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
.accordion-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #263045;
}


/* contact form  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contactus-main {
    background: #E2F5FF;
}
.form-Button {
    background-image: linear-gradient(to right, #018dd1, #42ADE4);
    border-radius: 53px;
    color: #fff;
    padding: 11px 28px;
    font-weight: 700;
    font-size: 15px;
    border: none;
}

.contact-us {
    margin-bottom: 10px;
}

.contact-us h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 42px;
    color: #263045;
    letter-spacing: 1px;
}

.contact-us p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #263045;
}

.contact-us i {
    color: #42ADE4;
    font-size: 22px;
}

.contact-us a {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
    color: #263045;
}

/* blog page  */
.blog-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    color: #263045;
    text-align: center;
}

.home-blog-box {
    min-height: 150px;
}

.blog-content a {
    text-decoration: none;
}
.home-blog-content h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #263045;
    min-height: 39px;
    text-decoration: none !important;
}
.home-blog-content h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #263045;
}
.home-blogs-button a {
    border-radius: 53px;
    color: #263045;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.home-blogs-button a:hover {
    color: #43ade6;
}

.blog-content h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #263045;
    text-decoration: none !important;
}

.blog-content p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #263045;
}

.blog-content h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #263045;
}

.blogs-button a {
    border-radius: 53px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    background: #263045;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.blogs-button a:hover {
    color: #263045;
    background: transparent;
    border: 1px solid #263045;
}

/* blog detail page  */
.blog-detail h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
    color: #42ade4;
}

.blog-detail h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    color: #42ade4;
}


.blog-detail p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #263045;
    text-align: justify;
}


.blog-detail-001 a {
    text-decoration: none;
}

.blog-detail-001 a h4 {
    font-size: 17px;
    color: #263045;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 18px;
}

.blog-detail-001 a h4:hover {
    color: rgb(126, 10, 10);
}

.blog-detail-001 li {
    font-size: 17px;
    color: #263045;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
}

.blog-detail-001 a li:hover {
    color: rgb(126, 10, 10);
}

.blog-detail-001 h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 0;
    color: #42ade4;
}

.blog-detail-002 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    font-style: normal;
    color: #263045;
    margin-bottom: 0;
    text-align: center;
}

.blog-list li {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: #263045;
    padding: 8px 0;
}

.blog-list p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: #263045;
    text-align: justify;
}

/* our team  */
.OurTeam-inner-heading h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
}
.OurTeam-inner-heading h1 span {
    color: #43ade6;
    font-weight: 700;
}

.OurTeam-inner-heading p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 123.5%;
    color: #263045;
    text-align: center;
}

.card-title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}


/* blogs slider  */
.blogs-carousel-main {
    padding: 70px 0 35px;
}
.react-multiple-carousel__arrow--right {
    right: calc(2% + 1px) !important;
}
.react-multiple-carousel__arrow--left {
    left: calc(2% + 1px) !important;
}


/* core values  */
.core-values-bg {
    background-image: url('/src/Images/corevalues-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}

.blue-bg {
    background-color: #43ade6;
    height: 20px;
    width: 85%;
    margin: 0 auto;
    border-top-left-radius: 100px 64px;
    position: relative;
}

.blue-bg:after {
    content: "";
    position: absolute;
    margin: -20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: #ffffff;
}

.blue-bg:before {
    content: "";
    position: absolute;
    margin: -20px;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: #ffffff;
}

.core-values-text {
    padding: 45px 20px;
    background-color: #fff;
    border-radius: 30px;
    min-height: 254px;
}
.core-values-text h1 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #43ade6;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.core-values-text p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding: 15px 0;
    margin-bottom: 0;
}
.corevalue-border-bottom {
    border-bottom: 4px dotted #ccc;
}
.border-left-dotted {
    border-right: 4px dotted #ccc;
    height: 40px;
    width: 50%;
}

.core-icons {
    text-align: center;
    margin-top: -40px;
}

.core-icons img {
    background-color: #43ade6;
    border-radius: 50%;
    padding: 14px;
}


.team-image {
    border-radius: 50% 30%;
    width: 100%;
}


/* privacy policy  */
.privacy-policy {
    margin-bottom: 30px;
}

.privacy-policy li {
    list-style-type: none;
    font-size: 22px;
    font-weight: 700;
    color: #263045;
    margin-bottom: 10px;

    font-family: 'Roboto', sans-serif;
}

.privacy-policy p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #263045;
}
.privacy-policy-list li {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    line-height: 35px;
}


/* portfolio page  */
.portfolio-nu-main {
    padding: 70px 0;
}


.modal-dialog {
    max-width: 50%;
    margin: 4rem auto;
}

.viewMoreButton h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    background: #000;
    width: 100%;
}


/* services page  */

.service-dm-bg {
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin: 10px 0;
    display: flex;
    color: #263045;
}
.service-dm-bg h1 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px;
}
.service-dm-bg:hover {
    background-color: #42ade4;
    color: #fff;
}
 

@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    .slider { 
    margin: auto;
    overflow: hidden;
    position: relative; 
    }
    .slider::before, .slider::after {
     content: "";
    height: 100px;
    position: absolute; 
    z-index: 2;
    }
    .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    .slider::before {
    left: 0;
    top: 0;
    }
    .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
    }
    .slider .slide { 
    width: 250px;
    align-self: center;
    display: flex;
    }