body {
    margin: 0 auto;
}

/* top nav bar  */
.top-head-bg {
    background-color: #263045;
}

.top-Nav-contact a {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}

.social-icon-nav {
    font-size: 18px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}
.social-icon-nav i:hover {
    color: #43ade6;
}
/* Navbar  */
.navbar-001 {
    display: flex;
    justify-content: flex-end;
}

.navbar-001 a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #263045 !important;
    text-align: center;

}

.navbar-001 a:hover {
    color: #43ade6 !important;
}
.navbar-001 a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #43ade6;
    transition: width 0.3s;
}

.navbar-001 a:hover::after {
    width: 100%;
    color: #43ade6 !important;
}

.navbar-001 a:focus {
    color: #43ade6 !important;
}

.contact-button a {
    background-image: linear-gradient(to right, #018dd1, #43ade6);
    border-radius: 6px;
    color: #fff;
    padding: 7px 14px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.contact-button a:hover {
    background-color: #8fc442;
    color: #fff;
}

.new-menu-hide {
    display: none;
    left: 0;
}

.newMenuMain {
    position: absolute;
    cursor: pointer;
    padding: 0;
    width: 80%;
    height: 400px;
}

.newMenu {
    background: #fff;
    z-index: 20;
    width: 100%;
}
.nav-link {
    color: #263045 !important;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 10px 12px;
}
li.nav-item {
    padding: 6px;
}

.nav-link:hover {
    color: #43ade6 !important;
}

.dropdown-hover:hover > .dropdown-menu {
    display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    border: none;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 14rem;
    padding: 0.5rem 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    list-style: none;
    line-height: 26px;
    color: #263045 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

/* slider  */
.slider-bg {
    background-image: url('../Images/Banner-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-head {
    padding: 80px 80px 80px 12px;
}
.slider-head h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
}
.slider-head h1 span {
    color: #43ade6;
    font-weight: 500;
}
.slider-list {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.slider-list h2 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-left: 5px;
}
.slider-button {
    margin: 15px 0;
}
.slider-button a {
    background-image: linear-gradient(to right, #018dd1, #43ade6);
    border-radius: 6px;
    color: #fff;
    padding: 10px 14px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.slider-button a:hover {
    background-image: none;
    border: 2px solid #43ade6;
    color: #43ade6;
    font-weight: 400;
}

/* how we work  */
.how-we-work-main {
    padding: 50px 30px;
}

.how-we-work h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
}
.how-we-work h1 span {
    color: #43ade6;
}
.how-we-work p {
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-left: 5px;
    margin: 0 auto;
}
.how-we-work-inner {
    border-radius: 10px;
}
.how-we-work-inner h1 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
    padding: 20px 60px;
}
.how-we-work-icon {
    background-color: #43ade6;
    border-radius: 10px;
}

.how-we-work-inner p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding: 20px 0 20px 15px;
    text-align: left;
}

/* industries  */
.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all 0.5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: #43ade6 !important;
    min-width: 30px !important;
    min-height: 30px !important;
    opacity: 1;
    color: #000;
    cursor: pointer;
}

.caraousell h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.caraousell {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.caraousel h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}


.caraousel {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.caraousel:before {
    border-right: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 84%;
    top: 5%;
}
.caraousel:after {
    border-bottom: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
}
.caraousel2 h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.caraousel2 {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.caraousel2:before {
    border-right: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 84%;
    top: 5%;
}
.caraousel3 h1 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.caraousel3 {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.caraousel3:after {
    border-bottom: 1px solid #001D4A;
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
}


.industries-main {
    padding: 50px 30px;
}
.industries h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
}
.industries h1 span {
    color: #43ade6;
}
.industries p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-left: 5px;
}
.arrow1 {
    animation: slide1 2s ease-in-out infinite;
    margin-left: 5px;
}
@keyframes slide1 {
    0,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}


/* home services  */
.home-services-bg {
    background-color: #263045;
    padding: 50px 0;
}

.home-services-main {
    padding: 32px 20px 0;
    background-color: #fff;
    border-radius: 10px;
}
.home-services {
    padding-bottom: 24px;
}

.home-services h1 {
    font-size: 34px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}
.home-services h1 span {
    color: #43ade6;

}


.home-services p {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}

.home-services-button a {
    background-image: linear-gradient(to right, #018dd1, #43ade6);
    border-radius: 6px;
    color: #fff;
    padding: 7px 14px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}

.home-service-box {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.home-service-box:hover {
    background-color: #43ade6;
}


.home-service-box h1 {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 0;
}
.home-service-box p {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}
.home-service-box a {
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


/* call action  */

.call-action-main {
    margin: 50px 0;
}
.call-action-bg {
    /* background-color: #263045;  */
    background-image: linear-gradient(to bottom, #018dd1, #43ade6);
    padding: 50px 0;
}
.call-action-content h1 {
    font-size: 32px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.call-action-content p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.call-action-button1 a {
    background: #fff;
    border-radius: 6px;
    color: #43ade6;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.call-action-button2 a {
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}


/* footer  */
.footer-bg {
    background-color: #263045;
    padding: 50px 0;
    /* background-image: url('../Images/earth\ \(1\).webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}
.footer-head h1 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-list p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    word-wrap: break-word;
    text-align: justify;
}
.footer-list a {
    text-decoration: none;
}
.footer-arrow {
    font-size: 12px;
    padding-right: 15px;
}
.footer-social-icon {
    font-size: 18px;
    padding-right: 5px;
}

.border-right-footer {
    border-right: 1px solid #ccc;
    min-height: 200px;
}

.domain-bar {
    margin-bottom: -40px;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    position: relative;
    box-shadow: 3px 3px 26px -5px rgba(0, 0, 0, 0.35)
}


/* clients */
.client-bg {
    margin: 50px 0;
    background-image: url('../Images/earth\ \(1\).webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-muted {
    color: #263045 !important; 
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    /* border-image: linear-gradient(to top, #43ade6, rgba(0, 0, 0, 0)) 1 100%; */
    border: 4px solid green;
    border-image-source: linear-gradient(white, #9cdafc, #43ade6);
    border-image-slice: 1;
}
.text-muted-inner {
    margin: 0 auto;
}

.text-muted-inner h5 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #263045;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.text-muted-inner h3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.client-img {
    background-image: url('http://localhost:3000/static/media/layer17.7b7dbc7e2fae0e12168e.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18%;
    padding: 24px 0;
    margin: 0 auto;
}
.client-img-section {
    border: 5px solid #6fc6f5;
    border-radius: 50%;
}


/* about us  */
.aboutus-main {
    padding: 50px 0;
}
.aboutus-content h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
}
.aboutus-content h1 span {
    color: #43ade6;
}
.aboutus-content p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
    padding-right: 30px;
}


/* counter  */

.client-logo-slider-bg {
    background-color: #a99e9e;
}

.Counter-content{
    padding: 20px 0px;
}
.Counter-content h2 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #263045;
    min-height: 36px;
    font-family: 'Roboto', sans-serif;
}
.Counter-content p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none; 
}

 
.Counter-1 h1 {
    font-size: 34px;
    font-weight: 700;
    color: #42ADE4;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}


.counter-box { 
    text-align: center; 
}
.counter-box-inner{
    border: 3px solid #0890d3;
    text-align: center;
    padding: 60px 16px;
    background: #fff;
    border-radius: 50%;
    margin: 0px 45px;
}

 

.counter-box-margin-top{
    margin-top: 110px;
}


.btnhover {
    border: none;
    color: white;
    opacity: 0.1;
    transition: 0.3s;
}
.btnhover:hover {
    opacity: 1;
    cursor: pointer;
}


/* why choose us  */

.why-choose h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
}
.why-choose h1 span {
    color: #43ade6;
}
.why-choose p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: #263045;
    text-decoration: none;
}

.why-choose-checkbox p i {
    background-color: #42ADE4;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
}
.why-choose-checkbox {
    padding: 10px 0;
}
.why-choose-checkbox p {
    font-size: 15px;
    line-height: 35px;
}

.ready-to-grow {
    background-image: url('../Images/readytogrow.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0px;
    margin-top: 40px;
}

.ready-to-grow-content {
    text-align: center;
}
.ready-to-grow-content h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.ready-to-grow-content h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 36px;
}

.ready-to-grow-content a{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff24;
    padding: 10px 15px;
    border-radius: 15px; 
}
